<div class="container habs">
  <h2>Sobre la aplicación</h2>
  <hr />
  <p>Esta aplicación debe ser capaz de agregar habitaciones (libres u ocupadas) y editarlas, la planta y la habitacón que tienen asignadas.</p>
  <p>Podremos ver el tipo de tarifa que tiene el cliente, seleccionarle y ver el precio.</p>
  <p><strong>19/02/2020 - </strong> Planteamiento de la aplicación</p>
  <p><strong>20/02/2020 - </strong> Empezar con el proyecto creandolo, y planificando algo de bootstrap,css y formato.</p>
  <p><strong>21/02/2020 - </strong> Empecé a instalar y preparar firebase.</p>
  <p><strong>26/02/2020 - </strong> Añadí funcionalidad de Añadir y editar habitaciones</p>
  <p><strong>27/02/2020 - </strong> Pones el boton de "libre" u "ocupada" con sus colores</p>
  <p><strong>03/03/2020 - </strong> Añadido el routing de la aplicacion (Habitaciones, Sobre, y Huespedes)</p>
  <p><strong>04/03/2020 - </strong> Añadido en el formulario de añadir y editar el select para
  poner si esta libre u ocupada.</p>
</div>
