<div class="container">
  <div class="row">
    <div class="col-12 bg-danger" style="margin-bottom:15px;">
      <h1 class="text-white text-center">Hotel Eromrez</h1>
      <!--NAV BAR-->
      <nav class="navbar navbar-dark bg-danger navbar-expand-lg text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/']" [routerLinkActive]="['activated']">Home</a>
            <a class="nav-item nav-link active" [routerLink]="['/habitaciones']" [routerLinkActive]="['activated']">Habitaciones</a>
            <a class="nav-item nav-link active" [routerLink]="['/huespedes']">Huespedes</a>
          </div>
        </div>
      </nav>
      <!--FIN NAV BAR-->
    </div>
  </div><!-- DIV DEL DIV-ROW -->
</div>

